body {
    background-color: lightyellow;
}
.r_0 {
    background-color:#b3f442
}
.r_1 {
    background-color:#b3f442
}
.r_2 {
    background-color:#f4c741
}
.r_3 {
    background-color:#f4bb41
}
.r_4 {
    background-color:#f4ac41
}
.r_5 {
    background-color:#f4ac41
}
.r_6 {
    background-color:#f46d41
}
.r_7 {
    background-color:#f45541
}
.r_8 {
    background-color:#f44141
}
.r_9 {
    background-color:#f20202
}
