{{#Values}}
<div class="row m-3 p-3 bg-light">
    <div class="col-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item active"><b>{{Quant}}</b></li>
            <li class="list-group-item"><b>Description: </b>{{Description}}</li>
            <li class="list-group-item"><b>Type: </b>{{Type}}</li>
            <li class="list-group-item"><b>Unit: </b>{{Unit}}</li>
            <li class="list-group-item"><b>Min: </b>{{Min}}</li>
            <li class="list-group-item"><b>Max: </b>{{Max}}</li>
        </ul>
    </div>
    <div class="col-3">
        <ul class="list-group">
            {{#Date}}
            <li class="list-group-item">{{.}} </li>
            {{/Date}}
        </ul>
    </div>

    <div class="col-3">
        <ul class="list-group">
            {{#Value}}
            <li class="list-group-item"><b>Value:  </b>{{.}} </li>
            {{/Value}}
        </ul>
    </div>

    <div class="col-3">
        <ul class="list-group">
            {{#Rating}}
            <li class="list-group-item">
                <i><span class="badge-pill r_{{.}}">{{.}}</span></i>
                <input type="range" min="0" max="9" value="{{.}}" class="slider">
            </li>
            {{/Rating}}
        </ul>
    </div>
</div>
{{/Values}}
