<!--
{
            "Type": "outgas_v",
            "Unit": "mbar/s",
            "Max": 1e-9,
            "Min": 1e-11,
            "Description": "Outgasig rate of vessel only",
            "Value": [
              -1.9792443239907698e-9,
              -6.376579264610882e-10,
              -2.852796332497576e-10
            ],
            "Med": 5.05e-10,
            "Deviation": [
              -4.919295787811279,
              -2.2626891136169434,
              -1.5649101734161377
            ]
          }
-->
{{#Values}}
<div class="row m-3 p-2 bg-light">
    <div class="col-3 ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item active"><b>{{Quant}}</b></li>
            <li class="list-group-item">{{Description}}</li>
            <li class="list-group-item">Type: {{Type}} Unit: {{Unit}}</li>
            <li class="list-group-item">Min: {{Min}} Med: {{Med}} Max: {{Max}}</li>
        </ul>
    </div>
    <div class="col-3">
        <ul class="list-group">
            {{#Value}}
            <li class="list-group-item">Value: {{.}} </li>
            {{/Value}}
        </ul>
    </div>
    <div class="col-3">
        <ul class="list-group">
            {{#Deviation}}
            <li class="list-group-item">Deviation: {{.}}
            </li>
            {{/Deviation}}
        </ul>
    </div>
    <div class="col-3">
        <ul class="list-group">
            {{#Rating}}
            <li class="list-group-item">
                <i><span class="badge-pill r_{{.}}">{{.}}</span></i>
                <input type="range" min="0" max="9" value="{{.}}" class="slider">
            </li>
            {{/Rating}}
        </ul>
    </div>
</div>
{{/Values}}
